{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-xl">

  <div class="border-bottom border-gray p-3 mb-0 d-flex justify-content-between align-items-center">
    <div>
      <h6 class="mb-0 d-inline">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Recent Publications{% endif %}
        <a href="{{ 'research' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
      </h6>
    </div>

    <div class="text-right">
      <small style="font-size: 0.75em;">
        <strong>* <i>Equal contribution</i>, <sup>†</sup> <i>Corresponding author</i></strong>
        <span class="text-muted" style="font-size: 0.7em;"> (for publications only)</span>
      </small>
    </div>
    <!-- <div class="text-right">
      <small class="text-muted" style="font-size: 0.75em;">
        * Equal contribution, <sup>†</sup> Corresponding author
      </small>
    </div> -->
  </div>

  {% for item in publications limit:include.limit %}
    {% include widgets/publication_item.html item=item first=false last=false %}    
  {% endfor %}

  <h6 class="d-block p-3 mt-0 text-right">
    <a href="{{ 'research' | relative_url }}">All Research <i class="fas fa-angle-double-right"></i></a>
  </h6>

</div>